body {
  margin: 0;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

code {
  font-family:
    'Courier New',
    monospace;
}

.robotoslab {
  font-family: Roboto Slab, serif;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

#root {
  background-color: rgb(250, 250, 250);
  padding-bottom: 60px;
}
